<html>
<head>
<title> Booksy </title>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
     <h1 style="float: center; text-align: center">Booksy</h1>

     <div class="container">

	    <h2>Enter your <a href="https://hypothes.is/">Hypothes.is</a> username</h2>
	    <form action="." method="POST">
	        <input type="text" name="text">
	        <input type="submit" name="my-form" value="Send">
	    </form>
    
		<a href="/pdfview">Read</a> <br>
		<a href="/user_submit">Submit User Ratings</a> <br>
		<a href="/view_users">View User Ratings</a> <br>
		<a href="/user_comment">Submit Comment Ratings</a> <br>
		<a href="/view_comments">View Comment Ratings</a>
	</div>
</body>
</html>