<html>
    <head>
    <title> Booksy </title>
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
    <body>
        <h1 style="float: center; text-align: center"> Booksy </h1>
        <div class="container"> 
        <h2> User Ratings </h2>
        {% for key in ratings %}
            <li> 
                <a href="https://hypothes.is/stream?q={{ key[0] }}"> {{ key[0] }} </a> 
                <p> Confidence Rating: {{ key[1] }} </p> 
            </li>
        {% endfor %}
        <h2> Click <a href="/"> here </a> to go back! </h2>
        </div>
    </body>
</html>